@htmlbgcolor: dimgray;
@bodybgcolor: ivory;
@bodywidth: 1440px;
@mainwidth: 1350px;

.margin() {
    margin: 1rem auto;
}

.padding() {
    padding: 1rem;
}

.imginline() {
    display: inline-block;
    vertical-align: middle;
}
