.spanex {
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.divflex {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}

span.tip {
    color: dimgray;

    &::before {
        content: '〔';
    }

    &::after {
        content: '〕';
    }
}

span.holy {
    &:extend(.spanex);
    background: linear-gradient(yellow, red);
}

span.evil {
    &:extend(.spanex);
    background: linear-gradient(lime, gray);
    color: purple;
}

span.lowbee {
    &:extend(.spanex);
    color: darkgreen;
    background-color: lightpink;
}

span.ero {
    &:extend(.spanex);
    background-color: pink;
    color: brown;
}

samp {
    font-family: var(--font-mono);
    font-size: 100%;
    margin: 0 1px;
    padding: 1px;

    &.gui {
        color: darkred;
    }
}

kbd {
    background-color: whitesmoke;
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
    display: inline-block;
    font-family: var(--font-sans);
    font-size: 90%;
    line-height: 1.2;
    margin: 0 .2rem;
    padding: .1rem .5rem;
    text-shadow: 0 1px 0 white;
    text-indent: 0;
}

code {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    color: darkred;
    margin: 0 5px;
    padding: 5px;
    font-family: var(--font-code);
    // font-size: 90%;
}

pre {
    width: 90%;
    margin: 1rem auto;
    padding: 0.25rem 0.5rem;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;

    &.code {
        line-height: 1.25rem;
        border: 1px dotted dimgray;
        background-color: black;
        color: lightgray;
        font-family: var(--font-code);
        font-size: 80%;
    }
}

time {
    font-family: var(--font-mono);

    &::before {
        content: '［';
    }

    &::after {
        content: '］';
    }
}

hr {
    border: none;

    &.signature {
        background: transparent;
        width: 50%;
        margin: auto;

        &::before {
            content: url(image/heraldry_small.svg);
            .imginline();
        }

        &::after {
            content: url(image/signature.svg);
            .imginline();
        }
    }

    &.outside {
        height: 2px;
        width: 300px;
        background-color: lightgray;
        margin: 3rem auto;
    }

    &.inside {
        height: 1px;
        width: 50%;
        margin: 0;
        background-color: gray;
    }
}

div.flex {
    .divflex();
}

div.bulletin {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid dimgray;
    box-shadow: 0.25rem 0.25rem 0.5rem dimgray;

    & & {
        background-color: mintcream;
        box-shadow: none;
    }

    & header {
        box-sizing: border-box;
        width: 100%;
        min-height: 2rem;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid lightgray;

        &.myself::before {
            content: url(image/icon_dynamic.svg);
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
        }

        & time {
            float: right;
        }

        & abbr.uid,
        & abbr.myself {
            margin: 0 0.5rem;

            &::before,
            &::after {
                content: none;
            }
        }
    }

    & footer {
        box-sizing: border-box;
        width: 100%;
        border-top: 1px solid lightgray;
        min-height: 2rem;
        text-align: left;
        margin: 0;
        padding: 0.5rem;
        color: dimgray;
        font-size: 0.8rem;
    }

    & blockquote {
        .quotein();
    }
}