.blank {
    margin: 0 1px;
    padding: 0 1px;
}

.txtem {
    -webkit-text-emphasis-position: under right;
    text-emphasis-position: under right;
}

.dot {
    &:extend(.txtem);
    -webkit-text-emphasis: dot;
    text-emphasis: dot;
}

.circle {
    &:extend(.txtem);
    -webkit-text-emphasis: circle;
    text-emphasis: circle;
}

.triangle {
    &:extend(.txtem);
    -webkit-text-emphasis: triangle;
    text-emphasis: triangle;
}

mark {
    &:extend(.blank);
    background-color: yellow;

    &.pink {
        background-color: lightpink;
    }

    &.cyan {
        background-color: lightcyan;
    }

    &.lime {
        background-color: lightgreen;
    }
}


b {
    font-weight: bold;
}

i {
    font-style: oblique;
}

u {
    text-decoration: solid underline;
}

em {
    font-style: normal;
    color: blue;
}

strong {
    font-weight: bold;
    font-style: normal;
    color: red;
}

s {
    &:extend(.blank);
    background-color: lightgray;
    text-decoration: black wavy line-through;

    &.red {
        text-decoration-color: red;
    }

    &.green {
        text-decoration-color: darkgreen;
    }

    &.blue {
        text-decoration-color: blue;
    }
}

del {
    &:extend(.blank);
    text-decoration: black double line-through;

    &.red {
        text-decoration-color: red;
    }

    &.green {
        text-decoration-color: darkgreen;
    }

    &.blue {
        text-decoration-color: blue;
    }
}

ins {
    &:extend(.blank);
    font-style: normal;
    text-decoration: none;

    &.red {
        color: darkred;
    }

    &.green {
        color: darkgreen;
    }

    &.blue {
        color: darkblue;
    }
}

cite {
    &:extend(.blank);
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px solid blue;
    -webkit-text-emphasis: none;
    text-emphasis: none;
}

dfn {
    &:extend(.blank);
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px solid darkcyan;
    -webkit-text-emphasis: none;
    text-emphasis: none;
}

abbr {
    &:extend(.blank);
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px solid black;
    -webkit-text-emphasis: none;
    text-emphasis: none;

    &.who {
        border-bottom: 1px solid red;
    }

    &.where {
        border-bottom: 1px solid darkblue;
    }

    &.pseudo {
        border-bottom: 1px solid green;
    }

    &.uid {
        font-weight: bold;
        margin: none;
        padding: none;
        border: none;

        &::before {
            content: '｛';
            margin: 0 1px;
        }

        &::after {
            content: '｝';
            margin: 0 1px;
        }
    }

    &.myself {
        font-weight: bold;
        margin: none;
        padding: none;
        border: none;
        color: blue;

        &::before {
            content: '〔';
            margin: 0 1px;
        }

        &::after {
            content: '〕';
            margin: 0 1px;
        }
    }

}