/*
http://www.quivira-font.com/
From 2019 on, Quivira is in the Public Domain...
*/
@font-face {
    font-family: "Quivira";
    src: local("Quivira"), url(font/Quivira.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TritCoin";
    src: url(font/FanTritCoin.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adinkra";
    src: url(font/FanAdinkra.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanVace";
    src: url(font/FanVace.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanCunei";
    src: url(font/FanCunei.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanGlyph";
    src: url(font/FanGlyph.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}