@font-face {
    font-family: "Quivira";
    src: local("Quivira"), url(font/Quivira.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CharisSIL";
    src: local("Charis SIL"), url(font/CharisSIL.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CharisSIL";
    src: local("Charis SIL Bold"), url(font/CharisSIL-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "CharisSIL";
    src: local("Charis SIL Italic"), url(font/CharisSIL-Italic.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "CharisSIL";
    src: local("Charis SIL Bold Italic"), url(font/CharisSIL-BoldItalic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "TritCoin";
    src: url(font/FanTritCoin.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adinkra";
    src: url(font/FanAdinkra.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanVace";
    src: url(font/FanVace.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanCunei";
    src: url(font/FanCunei.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FanGlyph";
    src: url(font/FanGlyph.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

.quotex {
    &::before {
        content: '〖';
    }

    &::after {
        content: '〗';
    }
}

.tritcoin {
    display: inline-block;
    vertical-align: middle;
    color: sienna;
    font-size: 3rem;
    font-family: "TritCoin";
    font-variant-ligatures: common-ligatures;
}

.adinkra {
    display: inline-block;
    vertical-align: middle;
    color: #005243; // --color-name-japanese-鉄
    font-size: 3rem;
    font-family: "Adinkra";
    font-variant-ligatures: common-ligatures;
    line-height: 3rem;
}

.quivira,
:lang(qvr) {
    font-family: 'Quivira';
    font-size: 125%;
}

.vace,
:lang(vace) {
    font-size: 1.5rem;
    font-family: 'FanVace';
    font-variant-ligatures: common-ligatures;
    line-height: 3.5rem;
}

.cunei,
:lang(cunei) {
    font-size: 1.5rem;
    font-family: 'FanCunei';
    font-variant-ligatures: common-ligatures;
}

.bpmf,
:lang(bpmf) {
    font-size: 2rem;
    font-family: 'FanGlyph';
    font-feature-settings: "ss01";
}

.tran,
:lang(tran) {
    font-size: 2rem;
    font-family: 'FanGlyph';
    font-feature-settings: "ss02";
}

.hier,
:lang(hier) {
    font-size: 2rem;
    font-family: 'FanGlyph';
    font-feature-settings: "ss03";
}

.egy,
:lang(egy) {
    font-size: 3rem;
    font-family: 'FanGlyph';
    font-variant-ligatures: historical-ligatures;
    line-height: 3rem;
}

.ipa,
:lang(ipa) {
    font-family: CharisSIL;
    color: darkslategray;

    &::before {
        content: '[';
        color: red;
    }

    &::after {
        content: ']';
        color: red;
    }
}

span {

    &:lang(cop),
    &:lang(uga),
    &:lang(got),
    &:lang(chu),
    &:lang(xpu) {
        .quivira();
    }

    &:lang(he),
    &:lang(ar),
    &:lang(syc) {
        font-size: 125%;
    }

    &:lang(phn),
    &:lang(arc),
    &:lang(smp) {
        font-family: 'FanGlyph';
        font-size: 125%;
    }
}

rt {

    &.ipa,
    &:lang(ipa) {
        font-size: 100%;
    }

    &:lang(he),
    &:lang(ar),
    &:lang(syc) {
        color: darkgreen;
        font-size: 125%;
    }

    &:lang(cop),
    &:lang(got),
    &:lang(chu) {
        .quivira();
    }

    &:lang(uga),
    &:lang(xpu) {
        .quivira();
        color: darkgreen;
    }

    &.bpmf,
    &:lang(bpmf) {
        color: darkgreen;
    }

    &:lang(phn),
    &:lang(arc),
    &:lang(smp) {
        color: darkgreen;
        font-family: 'FanGlyph';
        font-size: 125%;
    }

    &:lang(egy) {
        color: saddlebrown;
        font-weight: bold;
    }
}

q {
    color: darkblue;
    font-size: 100%;

    &::before,
    &::after {
        color: darkred;
    }

    &:lang(fhn) {
        &::before {
            content: '『';
        }

        &::after {
            content: '』';
        }
    }

    &:lang(ar),
    &:lang(he),
    &:lang(syc) {
        font-size: 125%;
        color: darkgreen;

        &::before {
            content: '⟨';
        }

        &::after {
            content: '⟩';
        }
    }

    &:lang(el) {
        font-size: 1.5rem;
        .quotex();
    }

    &:lang(vace),
    &:lang(cunei),
    &:lang(hier),
    &:lang(tran) {
        .quotex();
    }

    &:lang(egy) {
        color: saddlebrown;
        display: inline-block;
        vertical-align: middle;
        margin: 4px;
        padding-top: 10px;
        padding-bottom: 8px;
        border: 2px solid saddlebrown;
        border-radius: 8px;

        &::before,
        &::after {
            content: none;
        }
    }
}