@import "less/def.less";
@import "less/heading.less";
@import "less/link.less";
@import "less/emphasis.less";

hr.signature {
    background: transparent;
    border: none;
    width: 50%;
    margin: auto;

    &::before {
        content: url(image/heraldry_small.svg);
        .imginline();
    }

    &::after {
        content: url(image/signature.svg);
        .imginline();
    }
}

html {
    background-color: @htmlbgcolor;
    min-width: @bodywidth;
}

body {
    background-color: @bodybgcolor;
    width: @bodywidth;
    .margin();
}

main {
    background-color: transparent;
    width: @mainwidth;
    .margin();
}

header {
    .margin();
    .padding();
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 3px double dimgray;
}

ol,
ul,
dl {
    box-sizing: content-box;
    line-height: 2rem;
    .padding();
}

ol {
    list-style-type: decimal;
}

dt {
    font-weight: bold;
}

img {
    &.inline {
        .imginline();
    }
}