@import "less/def.less";
@import "less/heading.less";
@import "less/link.less";
@import "less/emphasis.less";
@import "less/block.less";
@import "less/divspan.less";
@import "less/table.less";

html {
    background-color: @htmlbgcolor;
    min-width: @bodywidth;
}

body {
    background-color: @bodybgcolor;
    width: @bodywidth;
    .margin();
}

main {
    background-color: transparent;
    width: @mainwidth;
    .margin();
}

header {
    .margin();
    .padding();
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 3px double dimgray;
}

p {
    line-height: 2rem;
}

ol,
ul,
dl {
    box-sizing: content-box;
    line-height: 2rem;
    .padding();
}

ol {
    list-style-type: decimal;
}

dt {
    font-weight: bold;
}

img {
    &.inline {
        .imginline();
    }
}